@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #2B2B2B;
    border:5px solid red;

    header {
        nav {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 30px 50px;
            justify-content: space-between;

            .a1 {
                display: flex;
                align-items: center;
                gap: 15px;

                i {
                    font-size: 1.6rem;
                    color: #A259FF;
                }

                h1 {
                    color: white;
                }
            }

            .a {
                display: flex;
                align-items: center;
                gap: 30px;

                a {
                    color: white;
                }

                .div {
                    i {
                        position: relative;
                        position: absolute;
                        z-index: 2px;
                        margin-left: 10px;
                        margin-top: 15px;
                        color: white;
                    }

                    button {
                        text-align: center;
                        padding: 15px 35px;
                        border-radius: 20px;
                        border: none;
                        background-color: #A259FF;
                        color: white;
                    }
                }
            }
        }

        section {
            display: flex;
            padding: 0px 115px;
            gap: 30px;

            .suz1 {
                width: 480px;
                height: 544px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1 {
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 100%;
                    color: #FFFFFF;
                }

                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 160%;
                    color: #FFFFFF;
                }

                button {
                    width: 224px;
                    height: 60px;
                    background-color: #A259FF;
                    border-radius: 20px;
                    color: white;
                    border: none;
                    cursor: pointer;
                    font-size: 1.2rem;
                }

                .cards {
                    display: flex;
                    gap: 20px;

                    .card {
                        p {
                            font-weight: 400;
                            font-size: 23px;
                            line-height: 160%;
                            color: #FFFFFF;
                        }

                        h1 {
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 140%;
                            color: #FFFFFF;
                        }
                    }
                }
            }

            .suz2 {
                width: 510px;
                height: 510px;
                color: white;

                img {
                    width: 100%;
                }

                h2 {
                    padding-left: 35px;
                    padding-top: 20px;
                    padding-bottom: 10px;
                }

                span {
                    padding-left: 50px;
                }
            }
        }
    }

    .sis {
        .sis1 {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            padding: 0px 130px;
            justify-content: space-between;
            align-items: center;
            color: white;

            .suz {
                display: flex;
                flex-direction: column;
                gap: 7px;

                h1 {
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 120%;
                }

                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 160%;
                }
            }

            .suz2 {
                button {
                    cursor: pointer;
                    width: 247px;
                    height: 60px;
                    border-radius: 20px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                    color: white;
                    background-color: transparent;
                    border: 1px solid #A259FF;
                }
            }
        }

        .cards {
            width: 100%;
            padding: 0px 130px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            button {
                display: none;
            }

            .card1 {
                display: flex;
                justify-content: space-between;

                .card {
                    width: 240px;
                    height: 238px;
                    background-color: #3B3B3B;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 15px;
                    text-align: center;

                    .suz2 {
                        h1 {
                            font-weight: 600;
                            font-size: 22px;
                            line-height: 140%;
                            color: #FFFFFF;
                        }

                        p {
                            color: #858584;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;

                            span {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 140%;
                                color: white;
                            }
                        }
                    }

                    .suz {
                        display: flex;

                        h1 {
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-color: #2B2B2B;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            color: #858584;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        min-height: 100%;

        .gd {
            margin-top: 70px;
            margin-left: 115px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #FFFFFF;
            margin-bottom: 40px;

            h1 {
                font-weight: 600;
                font-size: 38px;
                line-height: 120%;
            }

            p {
                font-weight: 400;
                font-size: 22px;
                line-height: 160%;
            }
        }

        nav {
            width: 100%;
            display: flex;
            padding: 0px 140px;

            .cards {
                gap: 35px;
                width: 100%;
                display: flex;

                .card {
                    .img2 {
                        display: flex;
                        gap: 15px;
                    }
                }
            }
        }

        section {
            width: 100%;
            margin-top: 100px;

            .gk {
                h1 {
                    color: white;
                    margin-left: 130px;
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 120%;
                    padding-bottom: 40px;
                }
            }

            .red {
                width: 100%;
                padding: 0px 115px;
                display: flex;
                flex-direction: column;
                gap: 30px;

                .red100 {
                    .red3 {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 30px;

                        .card100 {
                            width: 240px;
                            height: 316px;
                            background-color: #3B3B3B;
                            border-radius: 20px;

                            .suz {
                                padding-left: 30px;
                                padding-top: 15px;

                                h1 {
                                    font-weight: 600;
                                    font-size: 22px;
                                    line-height: 140%;
                                    color: white;
                                }
                            }

                            .img {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .red2 {
                        display: flex;
                        justify-content: space-between;

                        .card100 {
                            width: 240px;
                            height: 316px;
                            background-color: #3B3B3B;
                            border-radius: 20px;

                            .suz {
                                padding-left: 30px;
                                padding-top: 15px;

                                h1 {
                                    font-weight: 600;
                                    font-size: 22px;
                                    line-height: 140%;
                                    color: white;
                                }
                            }

                            .img {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;

        .cards10 {
            display: flex;
            justify-content: space-between;
            padding: 0px 130px;

            .card1 {
                width: 330px;
                height: 469px;

                .img {
                    img {
                        width: 100%;
                        height: 296px;
                    }
                }

                .suz10 {
                    display: flex;
                    padding: 22px 30px;
                    background-color: #3B3B3B;
                    border-radius: 0px 0px 10px 10px;

                    .suz3 {
                        padding-top: 70px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        span {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 110.00000000000001%;
                            color: #858584;
                        }

                        h4 {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            color: #FFFFFF;
                        }
                    }

                    .suz1 {
                        .suz2 {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            h1 {
                                font-weight: 600;
                                font-size: 23px;
                                line-height: 140%;
                                color: white;
                            }

                            .img1 {
                                display: flex;
                                align-items: center;
                                gap: 8px;

                                span {
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 140%;
                                    color: #FFFFFF;
                                }
                            }

                            .p {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 110.00000000000001%;
                                color: #858584;
                            }

                            h2 {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 140%;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }

        .button {
            display: none;
        }

        .img20 {
            img {
                width: 100%;
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

        .gh {
            display: flex;
            justify-content: space-between;
            padding: 0px 130px;
            align-items: center;
            color: white;
            margin-top: 70px;
            margin-bottom: 30px;

            .suz {
                h1 {
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 120%;
                    padding-bottom: 5px;
                }

                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 160%;
                }
            }

            .suz2 {
                button {
                    width: 187px;
                    height: 60px;
                    border: 1px solid #A259FF;
                    background-color: transparent;
                    border-radius: 20px;
                    color: white;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                }
            }
        }

        .gd {
            margin-left: 130px;
            color: white;

            h1 {
                font-weight: 600;
                font-size: 36px;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            span {
                margin-bottom: 30px;
            }
        }

        .cards {
            display: flex;
            padding: 0px 130px;
            justify-content: space-between;
            margin-top: 40px;

            .card {
                width: 330px;
                height: 439px;
                text-align: center;
                background-color: #3B3B3B;
                border-radius: 10px;
                padding: 0px 30px 30px 30px;
                color: #FFFFFF;

                h1 {
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 140%;
                }

                p {
                    font-weight: 400;
                    line-height: 140%;
                    font-size: 16px;
                    padding-top: 20px;
                }
            }
        }

        .kel {
            width: 1100px;
            height: 400px;
            padding: 40px 100px 80px 100px;
            background-color: #3B3B3B;
            margin: 0 auto;
            border-radius: 15px;
            margin-top: 50px;

            .kel2 {
                display: flex;
                gap: 70px;
                align-items: center;
                justify-content: center;

                .card2 {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h1 {
                        font-weight: 600;
                        font-size: 38px;
                        line-height: 120%;
                        color: #FFFFFF;
                    }

                    p {
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 160%;
                        color: #FFFFFF;
                    }

                    .input {
                        display: flex;

                        input {
                            width: 220px;
                            height: 50px;
                            padding: 20px 19px;
                            border-radius: 20px 0px 0px 20px;
                            border: none;
                            outline: none;
                        }

                        button {
                            width: 200px;
                            height: 50px;
                            border-radius: 20px;
                            border: none;
                            position: relative;
                            z-index: 2px;
                            left: -17px;
                            background-color: #A259FF;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 140%;
                            color: #FFFFFF;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .fut {
            .cards {
                margin-top: 30px;
                width: 100%;
                height: 334px;
                background-color: #3B3B3B;
                display: flex;
                align-items: center;
                padding: 40px 115px 40px 115px;
                gap: 40px;

                #card {
                    .card2 {
                        margin-bottom: 30px;
                    }

                    p {
                        color: white;
                        padding-bottom: 30px;
                    }

                    .img2 {
                        display: flex;
                        gap: 10px;
                    }
                }

                .card {
                    display: flex;
                    flex-direction: column;
                    text-align: justify;
                    width: 420px;
                    height: 170px;

                    a {
                        color: white;
                    }

                    .h1 {
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 160%;
                    }

                    .img2 {
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .input2 {
                        display: flex;

                        input {
                            width: 220px;
                            height: 50px;
                            padding: 20px 19px;
                            border-radius: 20px 0px 0px 20px;
                            border: none;
                            outline: none;
                        }

                        button {
                            width: 200px;
                            height: 50px;
                            border-radius: 20px;
                            border: none;
                            position: relative;
                            z-index: 2px;
                            left: -17px;
                            background-color: #A259FF;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 140%;
                            color: #FFFFFF;
                            cursor: pointer;
                        }
                    }
                }
            }

            .suz {
                width: 100%;
                height: 100px;
                padding: 10px 115px;
                color: white;
                height: 50px;
                background-color: #3B3B3B;

                p {
                    width: 1110px;
                    height: 40px;
                    border-top: 1px solid grey;
                }
            }
        }
    }

    @media (max-width:480px) {
        header nav .a {
            display: none;
        }

        header section {
            margin-top: 50px;
            flex-direction: column;
            padding: 0px 30px 0px 30px;
            width: 315px;
            text-align: justify;

            .suz1 {
                width: 420px;

                button {
                    margin-top: 500px;
                    padding: 35px 160px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            .suz2 {
                margin-top: -220px;
                width: 423px;
                margin-bottom: 150px;
            }

            .cards {
                padding: 0px 40px;
            }
        }

        main {
            .gd {
                margin-left: 30px;
                margin-top: 100px;
            }

            nav {
                padding: 0px 75px;

                .cards {
                    flex-direction: column;
                    gap: 70px;
                }
            }

            .sis {
                .sis1 {
                    width: 500px;
                    padding: 0px 30px;

                    .suz2 {
                        display: none;
                    }
                }

                .cards {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    #big {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        align-items: center;
                        justify-content: center;

                        .card {
                            width: 315px;
                            height: 100px;
                            display: flex;
                            flex-direction: row;
                            gap: 20px;
                            text-align: justify;

                            .suz {
                                img {
                                    width: 60px;
                                    height: 60px;
                                }
                            }
                        }
                    }

                    #card1 {
                        display: none;
                    }

                    button {
                        display: flex;
                        width: 315px;
                        height: 60px;
                        border: 2px solid #A259FF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        background-color: transparent;
                        color: white;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }

            section {
                .gk {
                    h1 {
                        margin-left: 40px;
                    }
                }

                .red {
                    width: 100%;
                    padding: 0px 60px;

                    .red100 {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .red3 {
                            flex-direction: column;
                            margin-bottom: 0px;

                            .card100 {
                                width: 147.5px;
                                height: 209px;

                                .suz {
                                    padding-top: 20px;
                                    padding-left: 20px;

                                    h1 {
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 140%;
                                        color: white;
                                    }
                                }

                                .img {
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        .red2 {
                            flex-direction: column;
                            gap: 30px;

                            .card100 {
                                width: 147.5px;
                                height: 209px;

                                .suz {
                                    padding-top: 20px;
                                    padding-left: 20px;

                                    h1 {
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 140%;
                                        color: white;
                                    }
                                }

                                .img {
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            .gh {
                padding: 0px 55px;
                margin-bottom: 50px;

                .suz2 {
                    display: none;
                }
            }

            .cards10 {
                gap: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .button {
                display: flex;

                button {
                    width: 315px;
                    height: 60px;
                    border: 2px solid #A259FF;
                    background-color: transparent;
                    border-radius: 20px;
                    color: white;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                }
            }

            .gd {
                margin-left: 80px;
            }

            .cards {
                padding: 0px 30px;
                flex-direction: column;
                gap: 30px;
                align-items: center;

                .card {
                    width: 315px;
                    height: 157px;
                    display: flex;
                    align-items: center;
                    padding: 0px 15px 0px 15px;

                    .suz {
                        display: flex;
                        gap: 15px;

                        .img {
                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }

                        .suz2 {
                            width: 155px;
                            height: 117px;
                            text-align: justify;

                            h1 {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 140%;
                                color: white;
                            }

                            p {
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 140%;
                                color: white;
                            }
                        }
                    }
                }
            }

            .kel {
                width: 100%;
                height: 300px;
                padding: 40px 30px;
                background-color: #2B2B2B;
                margin-bottom: 400px;

                .kel2 {
                    flex-direction: column;
                    width: 375px;
                    height: 645px;
                    background-color: #2B2B2B;
                    text-align: justify;
                    gap: 20px;
                    margin: 0 auto;

                    .card {
                        img {
                            width: 100%;
                        }
                    }

                    .card2 {
                        h1 {
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 140%;
                            color: white;
                        }

                        p {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            color: white;
                        }

                        .input {
                            width: 100%;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 20px;

                            input {
                                width: 100%;
                                border-radius: 20px 20px 20px 20px;
                            }

                            button {
                                width: 100%;
                                position: relative;
                                left: 0px;
                            }
                        }
                    }
                }
            }

            .fut {
                width: 100%;
                height:800px;
                padding: 40px 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:80px;
                background-color: #3B3B3B;

                .cards {
                    width: 315px;
                    height: 633px;
                    background-color:#3B3B3B;
                    text-align: justify;

                    .card {
                        width: 315px;
                        height: 185px;
                        text-align: center;
                        .input2{
                            flex-direction: column;
                            gap:10px;
                            input{
                                width: 100%;
                                border-radius:20px 20px;
                            }
                            button{
                                width: 100%;
                                position: relative;
                                left:0px;
                            }
                        }
                    }
                }

                .suz {
                    width:450px;
                    text-align: center;
                    position: relative;
                    z-index:2px;

                    p {
                        width:400px;
                        border-top: 1px solid grey;
                        margin-left: -90px;
                    }
                }
            }
        }
    }
}